body{
    margin: 0;
}
.first-section{
    font-family: Roboto;
    background-color: #1F2937;
    padding-bottom: 36px;
}
.headers{
    display: flex;
    justify-content: space-evenly;
    gap: 56px;
}
#headers-links{
    display: flex;
    list-style-type: none;
    gap: 16px;
}
.headers-contents{
    display: flex;
    justify-content: center;
    padding-top: 48px;
    gap: 64px;
}
#first-img{
    height: 250px;
    width: 500px;
    border: 2px solid #1F2937;
}
#hero-main-text{
    font-size: 48px; 
    font-weight: 900; 
    color: #f9faf8;
    margin: 0;
}
#hero-secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}
#header-logo{
    font-size: 24px;
    color: #F9FAF8;
}
#sign-up{
    background-color: #3882f6;
}
#links{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;

}
#hero{
    width: 400px;
    height: 300px;

}
#sign-up{
    border-radius: 6px;
    border: 2px solid #3882f6 ;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 6px;
    padding-bottom: 4px;
    color: #E5E7EB;
    font-weight: 600;
}

#another-images{
    height: 150px;
    width: 150px;
    border: 2px solid #3882f6;
    border-radius: 6px;
}
.title{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 36px;
}
.containers{
    display: flex;
    justify-content: center;
    gap: 48px;
    padding-bottom: 36px;
}
.infos{
    width: 160px;
    text-align: center;
}
.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 600px;
    height: 200px;
}
.third-section{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
}
.person-who-wrote{
    font-weight: bolder;
    font-size: 16px;
    width: 600px;
    text-align: right;
}
.fourth-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    color: #E5E7EB;
    background-color: #3882f6;
    border: 2px solid #3882f6;
    border-radius: 6px;
    margin: 64px 240px;
    padding-top: 36px;
    padding-bottom: 36px;
}
.notification{
    font-weight: bolder;
}
#other-sign-up{
    color: #E5E7EB;
    font-weight: 600;
    background-color: #3882f6;
    border: 2px solid #E5E7EB ;
    padding: 4px 16px;
    border-radius: 4px;
}
footer{
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 24px;
}
